{% section 'collection-banner' %}

<div class="collection-container max-w-7xl mx-auto px-4 py-8">
  <nav class="collection-nav mb-8">
    <ul class="flex flex-wrap gap-4">
      <li><a href="/collections/appliances-kitchen" class="hover:text-orange-500">Cuisine</a></li>
      <li><a href="/collections/appliances-cleaning" class="hover:text-orange-500">Entretien</a></li>
      <li><a href="/collections/appliances-personal-care" class="hover:text-orange-500">Soin personnel</a></li>
      <li><a href="/collections/appliances-air-treatment" class="hover:text-orange-500">Traitement de l'air</a></li>
      <li><a href="/collections/appliances-smart" class="hover:text-orange-500">Appareils connectés</a></li>
    </ul>
  </nav>

  {% section 'collection-grid' %}
</div>