{% section 'collection-banner' %}

<div class="collection-container max-w-7xl mx-auto px-4 py-8">
  <nav class="collection-nav mb-8">
    <ul class="flex flex-wrap gap-4">
      <li><a href="/collections/kids-new" class="hover:text-purple-500">Nouveautés</a></li>
      <li><a href="/collections/kids-girls" class="hover:text-purple-500">Filles</a></li>
      <li><a href="/collections/kids-boys" class="hover:text-purple-500">Garçons</a></li>
      <li><a href="/collections/kids-baby" class="hover:text-purple-500">Bébé</a></li>
      <li><a href="/collections/kids-shoes" class="hover:text-purple-500">Chaussures</a></li>
      <li><a href="/collections/kids-accessories" class="hover:text-purple-500">Accessoires</a></li>
    </ul>
  </nav>

  {% section 'collection-grid' %}
</div>