{% section 'collection-banner' %}

<div class="collection-container max-w-7xl mx-auto px-4 py-8">
  <nav class="collection-nav mb-8">
    <ul class="flex flex-wrap gap-4">
      <li><a href="/collections/phone-cases" class="hover:text-green-500">Coques</a></li>
      <li><a href="/collections/phone-chargers" class="hover:text-green-500">Chargeurs</a></li>
      <li><a href="/collections/phone-holders" class="hover:text-green-500">Supports</a></li>
      <li><a href="/collections/phone-screens" class="hover:text-green-500">Protections écran</a></li>
      <li><a href="/collections/phone-power-banks" class="hover:text-green-500">Batteries externes</a></li>
    </ul>
  </nav>

  {% section 'collection-grid' %}
</div>