{% section 'collection-banner' %}

<div class="collection-container max-w-7xl mx-auto px-4 py-8">
  <nav class="collection-nav mb-8">
    <ul class="flex flex-wrap gap-4">
      <li><a href="/collections/shoes-women" class="hover:text-red-500">Femme</a></li>
      <li><a href="/collections/shoes-men" class="hover:text-red-500">Homme</a></li>
      <li><a href="/collections/shoes-kids" class="hover:text-red-500">Enfant</a></li>
      <li><a href="/collections/shoes-sport" class="hover:text-red-500">Sport</a></li>
      <li><a href="/collections/shoes-casual" class="hover:text-red-500">Casual</a></li>
      <li><a href="/collections/shoes-formal" class="hover:text-red-500">Élégant</a></li>
    </ul>
  </nav>

  {% section 'collection-grid' %}
</div>