{% section 'collection-banner' %}

<div class="collection-container max-w-7xl mx-auto px-4 py-8">
  <nav class="collection-nav mb-8">
    <ul class="flex flex-wrap gap-4">
      <li><a href="/collections/men-new" class="hover:text-blue-500">Nouveautés</a></li>
      <li><a href="/collections/men-shirts" class="hover:text-blue-500">Chemises</a></li>
      <li><a href="/collections/men-tshirts" class="hover:text-blue-500">T-shirts</a></li>
      <li><a href="/collections/men-pants" class="hover:text-blue-500">Pantalons</a></li>
      <li><a href="/collections/men-jackets" class="hover:text-blue-500">Vestes</a></li>
      <li><a href="/collections/men-accessories" class="hover:text-blue-500">Accessoires</a></li>
    </ul>
  </nav>

  {% section 'collection-grid' %}
</div>