{% section 'collection-banner' %}

<div class="collection-container max-w-7xl mx-auto px-4 py-8">
  <nav class="collection-nav mb-8">
    <ul class="flex flex-wrap gap-4">
      <li><a href="/collections/beauty-skincare" class="hover:text-pink-500">Soin visage</a></li>
      <li><a href="/collections/beauty-makeup" class="hover:text-pink-500">Maquillage</a></li>
      <li><a href="/collections/beauty-haircare" class="hover:text-pink-500">Soin cheveux</a></li>
      <li><a href="/collections/beauty-fragrance" class="hover:text-pink-500">Parfums</a></li>
      <li><a href="/collections/beauty-tools" class="hover:text-pink-500">Accessoires beauté</a></li>
      <li><a href="/collections/beauty-sets" class="hover:text-pink-500">Coffrets</a></li>
    </ul>
  </nav>

  {% section 'collection-grid' %}
</div>